html {
  background: #fcfcfc;
}

.row { margin-bottom: 1em; }

.float--left { float: left; }

.btn {
  -webkit-appearance: none;
  background: white;
  border: 2px solid;
  border-radius: 2em;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Trebuchet MS", Arial;
  font-size: 14px;
  font-weight: 700;
  height: 46px;
  letter-spacing: .1em;
  line-height: 42px;
  margin: 0;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:focus {
  outline: none;
}

.btn--primary {
  border-color: #9ab833;
  color: #9ab833;
}
.btn--primary:hover {
  background: #9ab833;
  border-color: #9ab833;
  color: #fff;
}

.btn--secondary {
  border-color: #ccc;
  color: #666;
}
.btn--secondary:hover {
  background: #666;
  border-color: #666;
  color: #fff;
}

.btn--tertiary {
  background: #eaeaea;
  border-color: #eaeaea;
  color: #666;
}
.btn--tertiary:hover {
  background: #ccc;
  border-color: #ccc;
}

.btn--medium {
  height: 36px;
  line-height: 32px;
  padding: 0 1em;
}

.btn--small {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  padding: 0 .75em;
}

.btn--block {
  display: block;
  margin: 1em 0;
  width: 100%;
}



