html {
  background: #fcfcfc;
  font-family: "Trebuchet MS", Arial;
  margin: 20px 40px;
}

h1 { margin-bottom: 2em; }


/* BEGIN SIDEBAR STYLES */

aside {
  float: left;
  width: 15em;
}

aside h2 {
  margin: 0 0 1em;
  font-size: 1.25em;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside ul li {
  margin: 1em 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
}

aside h4 {
  margin: 0;
  font-size: 1em;
}

aside h4 a {
  color: #000;
  text-decoration: none;
}

aside h4 a:hover {
  color: #1c86a1;
}

aside p {
  margin: .5em 0;
  font-size: .9em;
  line-height: 1.2em;
}
