html {
  background: #fcfcfc;
  font-family: "Trebuchet MS", Arial;
  margin: 20px 40px;
}

.row { margin-bottom: 1em; }

.float--left { float: left; }

.btn {
  -webkit-appearance: none;
  background: white;
  border: 2px solid;
  border-radius: 2em;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 46px;
  letter-spacing: .1em;
  line-height: 42px;
  margin: 0;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:focus {
  outline: none;
}
